/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/* FONTS */

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url(https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



html {
  height: 100%;
}

body {
	background-image: url("corkboard (2).png");
	background-repeat: no-repeat;		
  height: 122%;
  padding: 20px;
  margin: 0;
  background-color: #e9e9e9;
  background-size: cover;
  color: #000;
}

/*
            TASK 2) Change position of CSS elements.         *********************************************************************
            Hey again! We're now in CSS. You'll see below how all the elements stack up together. Right now, changing their left, top, right or bottom values further down will have no effect. If you change the below to position-relative, all the elements will move around relative to each other. But with position absolute CSS, each item is on its own layer and isnt affected by other things. Make sure you change back to 'position: absolute;' afterwards.
        */
.post-it-note,.polaroid {
  position: absolute;
  box-shadow: 3px 3px 2px rgba(0,0,0,.4);
}

/* Basic styles for the post it note*/
.post-it-note {
  width: 190px;
  height: 190px;
  padding: 20px;
  font-family: Neucha, serif;
  background-color: #e8dd62;
}

/* Colour classes for the post it notes */
.yellow {
  background-color: #f5b958
}

.red {
  background-color: #c46113;
}

.blue {
  background-color: #0c2735;
}

/* Font styling for headings and text inside the post it notes */
p,h1,h2,h3,h4,h5 {
  margin-top: 0;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}

/* Each <figure> will ask as a polaroid so we can just style the <figure> without a class name */
.polaroid {
  padding: 10px;
  margin: 0;
  background: #FFF;
  display: inline-block;
}

.polaroid img {
  max-width: 220px;
}

.polaroid figcaption {
  font-family: Neucha, sans-serif;
}

/* The drawing pins (can use the same colour classes above) */
.pin {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.3);
/* Make it work in Safari/Chrome */
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  border-radius: 20px;
}

/*
            Task 2) Make the yellow post it note be above the red post it note using z-index.        ************************************************************************
            As mentioned in Task 1) each item that has position:absolute effectively has its own 'layer' which means you can change the order of the layer so something sits 'on top' of another layer. Look at the yellow and red post it notes.  The red is on top.  
            - Try adding z-index:1; to  #note-1
            - Add z-index: 0; to #note-2.
            See the difference in the layer order?
        */
#note-1 {
  top: 35%;
  left: 40%;
}

#note-2 {
  top: 60%;
  right: 20%;
}

/*
            TASK 3) Move the blue post it not over the the left so it's not being hidden by the polaroid.
  ************************************************************************
            #note-3 is the id on the blue poloaroid.  You can see that its positions 10% off the bottom and 16% from the left. The 10% and 16% are refering the the width and height of the container #note-3 sites in which is the .wrapper (cork board). So of you wanted to move the post it note closer to the left try reducing the left % to say 10%.
        */
#note-3 {
  bottom: 10%;
  left: 16%;
  transform: rotate(2deg);
  -ms-transform: rotate(2deg);
/* Make it work in IE 9 */
  -webkit-transform: rotate(2deg);
/* Make it work in Safari and Chrome */
}

#picture-1 {
  left: 19%;
  top: 76%;
  transform: rotate(2deg);
  -ms-transform: rotate(2deg);
/* Make it work in IE 9 */
  -webkit-transform: rotate(2deg);
/*  Make it work in Safari */
}

/*
            TASK 4) Play around with the rotation of some of the items!   **********************************************************************
            If you notice some of the items on the corkbord a rotated slightly. The transform css property is doing this (we've added some browser specific rotations as well to make sure you see it woking in more browsers). Try changing the values of the rotation to see the effect on the corkboard.
        */
#picture-2 {
  bottom: -8%;
  right: 14%;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
/* Make it work in IE 9 */
  -webkit-transform: rotate(-3deg);
/* Make it work in Safari and Chrome */
}

/*
      You've now survived the more complicated CSS bit of this website - congrats!
       */

/*MAIN*/
h1 { 
  font-family: 'Bitter', serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  /*background-image: linear-gradient(90deg, #7d01c4 50%, #fff 55%, #468 60%);*/
  background-size: 300% 100%;
  /*animation: Animacao 20s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;*/
}

/*@keyframes Animacao { 
  0%{background-position:0% 0%}
  30%{background-position:99% 0%}
  50%{background-position:0% 0%}
  70%{background-position:99% 0%}
  100%{background-position:0% 0%}
}*/

a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #df6100;
}

.logoBoom {
   width: 4em;
   height: 5%;
   float: left;
   left:3%;
   position: relative;
   margin-top: -0.8%;
}

header {
	font-family: 'Bitter', serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
	background: #03131b;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0%;
	z-index: 100;
}

body {
	background-color: #1a1f28;
	display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
	margin: 30px;
	float: left;
}

nav {
	float: right;
	padding: 20px;	
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url("https://f.cl.ly/items/1U2c3b1215383h3a2T2r/icon-menu.svg") center;
}

a:hover#menu-icon {
	background-color: #86E88F;
	/* border-radius: 1px 1px 0 0; */
}

ul {
	list-style: none;
	float:right;
	padding-right:2%;
}

li {
	display: inline-block;
	float: left;
	padding: 10px
}

.current {
	color: #f5b958;
}

section {
	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px
}


/*h1 {
	font-size: 2em;
	color: black;
	line-height: 1.15em;
	margin: 20px 0 ;
}*/


/*h1 {
  font-size: 80px;
}*/


h2 {
  text-align: left;
  font-size: 20px;
}

li, #logo {
  font-size: 20px;
}


p {
	line-height: 1.45em;
	margin-bottom: 20px;
}



/*Pulse*/
#holder {
	margin: 50px auto;
	width: 50px;
	height: 50px;
	position: absolute;
  right: 80px;
  top:-20px;

}


/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {
		position: absolute;
	}

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #85E88D;
		/*border: 2px solid #85E88D;*/
		right: 00px;
		top: 75px;
		width: 50%;
		/*border-radius: 4px 0 4px 4px;*/
	}

	nav li {
		text-align: right;
		width: 100%;
		padding: 15px 0px;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}
  
  a:hover {
	color: yellow;
  }
